{
  "extends": "@antfu",
  "rules": {
    "quotes": ["error", "single"],
    "@typescript-eslint/semi": ["error", "always"],
    "arrow-parens": ["error", "always"],
    "curly": ["error", "multi-or-nest", "consistent"],
    "antfu/if-newline": "off"
  }
}
