{
  "extends": [
    "plugin:regexp/recommended",
    "plugin:github/browser",
    "plugin:github/typescript",
    "@antfu"
  ],
  "plugins": [
    "regexp",
    "github"
  ],
  "rules": {
    "quotes": ["error", "single"],
    "@typescript-eslint/semi": ["error", "always"],
    "arrow-parens": ["error", "always"],
    "curly": ["error", "multi-or-nest", "consistent"],
    "antfu/if-newline": "off",
    "import/no-nodejs-modules": "off",
    "@typescript-eslint/array-type": ["error", { "default": "generic" }],
    "@typescript-eslint/no-shadow": "off"
  }
}
