*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --hsl-primary-color: 253;

  --surface-color-hsl: var(--hsl-primary-color), 10%, 99%;
  --text-color-hsl: var(--hsl-primary-color), 5%, 17%;
  --selection-bg-color-hsl: var(--hsl-primary-color), 70%, 85%;
  --task-list-indicator-color-hsl: var(--hsl-primary-color), 70%, 70%;
  --error-color-hsl: 356, 94%, 49%;

  --surface-color: hsl(var(--surface-color-hsl));
  --text-color: hsl(var(--text-color-hsl));
  --selection-bg-color: hsl(var(--selection-bg-color-hsl));
  --task-list-indicator-color: hsl(var(--task-list-indicator-color-hsl));
  --error-color: hsl(var(--error-color-hsl));

  // https://developer.mozilla.org/en-US/docs/Web/CSS/color-scheme#declaring_color_scheme_preferences
  color-scheme: light dark;

  @media (prefers-color-scheme: dark) {
    --surface-color-hsl: var(--hsl-primary-color), 7%, 7%;
    --text-color-hsl: var(--hsl-primary-color), 5%, 92%;
    --selection-bg-color-hsl: var(--hsl-primary-color), 35%, 52%;
    --task-list-indicator-color-hsl: var(--hsl-primary-color), 40%, 40%;
    --error-color-hsl: 0, 75%, 55%;
  }
}

::selection {
  background-color: var(--selection-bg-color)
}

html {
  /* Prevent the browser from synthesizing missing typefaces */
  font-synthesis: none;
  font-smooth: always;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
  /* Prevent mobile browsers increasing font-size */
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;

  tab-size: 4;
  scroll-behavior: smooth;
  overscroll-behavior: none;
}

body {
  font: 1rem 'Mona Sans', system-ui, sans-serif;
  font-synthesis: none; /* Prevent the browser from synthesizing missing typefaces */
  line-height: 1.5;
  color: var(--text-color);

  background-color: var(--surface-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  font-stretch: 105%;
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

.font-wide {
  font-stretch: 125%;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

input[type=checkbox] {
  --size: 1.2rem;

  position: relative;

  font-size: calc(var(--size) - 0.3rem);
  font-weight: 700;

  width: var(--size);
  height: var(--size);

  border-radius: 0.25rem;
  background-color: hsla(var(--text-color-hsl), 0.175);
  appearance: none;
  cursor: pointer;
  transition: background-color 0.3s;
  box-shadow: inset 0 0 4px hsla(var(--text-color-hsl), 0.075);

  &:checked {
    background-color: var(--task-list-indicator-color);
    transition: background-color 0.1s;

    &::after {
      content: "\2713";

      position: absolute;
      top: 51%;
      left: 50%;

      color: white;

      transform: translate(-50%, -50%);
    }
  }

  &::before {
    content: '';

    position: absolute;
    inset: -0.5rem;

    border-radius: 50%;
  }
}

kbd {
  display: inline-block;

  font-size: 0.9em;
  white-space: nowrap;

  padding: 0.125rem 0.5rem;

  background: hsla(var(--text-color-hsl), 0.075);
  border: 1px solid hsla(var(--text-color-hsl), 0.125);
  border-right-width: 2px;
  border-bottom: 3px solid hsla(var(--text-color-hsl), 0.125);
  border-radius: 0.25rem;
}

// @see https: //github.com/elk-zone/elk/blob/main/styles/global.css
.skeleton-bg {
  background: linear-gradient(
    to right,
    hsla(var(--text-color-hsl), 0.1) 25%,
    hsla(var(--text-color-hsl), 0.175) 37%,
    hsla(var(--text-color-hsl), 0.1) 63%
  );

  background-size: 400% 100%;

  animation: skeleton-loading 1.4s ease infinite;
}

@keyframes skeleton-loading {
  0% {
    background-position: 100% 50%;
  }

  to {
    background-position: 0 50%;
  }
}

@keyframes spin {
  from {
    transform: rotate(0)
  }

  to {
    transform: rotate(1turn)
  }
}

.sr-only {
  border: none !important;
  height: 0 !important;
  overflow: hidden !important;
  margin: 0 !important;
  padding: 0 !important;
  position: absolute !important;
  width: 0 !important;
  white-space: nowrap !important;
}
