*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --hsl-primary-color: 253;

  --task-list-indicator-color: hsl(var(--hsl-primary-color), 70%, 70%);

  --surface-color-hsl: var(--hsl-primary-color), 10%, 99%;
  --text-color-hsl: var(--hsl-primary-color), 5%, 17%;
  --selection-bg-color-hsl: var(--hsl-primary-color), 65%, 85%; // NOTE: maybe change color
  --error-color-hsl: 0, 75%, 75%;

  --surface-color: hsl(var(--surface-color-hsl));
  --text-color: hsl(var(--text-color-hsl));
  --selection-bg-color: hsl(var(--selection-bg-color-hsl));
  --error-color: hsl(var(--error-color-hsl));

  // https://developer.mozilla.org/en-US/docs/Web/CSS/color-scheme#declaring_color_scheme_preferences
  color-scheme: light dark;

  @media (prefers-color-scheme: dark) {
    --task-list-indicator-color: hsl(var(--hsl-primary-color), 40%, 40%);

    --surface-color-hsl: var(--hsl-primary-color), 7%, 7%;
    --text-color-hsl: var(--hsl-primary-color), 5%, 92%;
    --selection-bg-color-hsl: var(--hsl-primary-color), 35%, 35%;
    --error-color-hsl: 0, 75%, 55%;
  }
}

::selection {
  background-color: var(--selection-bg-color)
}

html {
  // Already included by normalize.css
  // -moz-text-size-adjust: 100%;
  // -webkit-text-size-adjust: 100%;
  // text-size-adjust: 100%;

  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;

  tab-size: 4;
}

body {
  font: 1rem 'Mona Sans', system-ui, sans-serif;
  font-synthesis: none; /* Prevent the browser from synthesizing missing typefaces */
  line-height: 1.5;
  color: var(--text-color);

  background-color: var(--surface-color);

  overscroll-behavior: none;
}

#__nuxt {
  isolation: isolate;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  font-stretch: 105%;
}

.font-wide {
  font-stretch: 125%;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

kbd {
  display: inline-block;

  font-size: 0.9em;

  padding: 0.125rem 0.5rem;

  background: hsla(var(--text-color-hsl), 0.075);
  border: 1px solid hsla(var(--text-color-hsl), 0.125);
  border-right-width: 2px;
  border-bottom: 3px solid hsla(var(--text-color-hsl), 0.125);
  border-radius: 0.25rem;
}

.icon {
  display: inline-block;
  vertical-align: middle;
}

// @see https: //github.com/elk-zone/elk/blob/main/styles/global.css
.skeleton-bg {
  background: linear-gradient(
    to right,
    hsla(var(--text-color-hsl), 0.1) 25%,
    hsla(var(--text-color-hsl), 0.175) 37%,
    hsla(var(--text-color-hsl), 0.1) 63%
  );

  background-size: 400% 100%;

  animation: skeleton-loading 1.4s ease infinite;
}

@keyframes skeleton-loading {
  0% {
    background-position: 100% 50%;
  }

  to {
    background-position: 0 50%;
  }
}

.sr-only {
  border: none !important;
  height: 0 !important;
  overflow: hidden !important;
  margin: 0 !important;
  padding: 0 !important;
  position: absolute !important;
  width: 0 !important;
  white-space: nowrap !important;
}
