*,
*::after,
*::before {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

:root {
  --hsl-primary-color: 253;

  --loading-indicator-color: hsl(var(--hsl-primary-color), 65%, 75%);
  --task-list-indicator-color: hsl(var(--hsl-primary-color), 70%, 70%);
  
  --surface-color-hsl: var(--hsl-primary-color), 10%, 99%;
  --text-color-hsl: var(--hsl-primary-color), 5%, 13%;
  --selection-bg-color-hsl: var(--hsl-primary-color), 65%, 75%; // NOTE: maybe change color
  
  --surface-color: hsl(var(--surface-color-hsl));
  --text-color: hsl(var(--text-color-hsl));
  --selection-bg-color: hsl(var(--selection-bg-color-hsl));

  @media (prefers-color-scheme: dark) {
    --loading-indicator-color: hsl(var(--hsl-primary-color), 35%, 40%);
    --task-list-indicator-color: hsl(var(--hsl-primary-color), 40%, 40%);
    
    --surface-color-hsl: var(--hsl-primary-color), 7%, 7%;
    --text-color-hsl: var(--hsl-primary-color), 5%, 96%;
    --selection-bg-color-hsl: var(--hsl-primary-color), 35%, 40%;
  }
}

::selection {
  background-color: var(--selection-bg-color)
}

html {
  text-size-adjust: none;
}

body {
  font-family: 'Mona Sans', system-ui, sans-serif;
  color: var(--text-color);

  background-color: var(--surface-color);

  color-scheme: light dark;
  overscroll-behavior: none;
}

#__nuxt {
  min-height: 100vh;
}

@for $i from 1 to 7 {
  h#{$i} {
    font-weight: 500;
    font-stretch: 110%;
  }
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

kbd {
  font-size: 0.9em;

  padding: 0.25rem 0.5rem;

  background: hsla(var(--text-color-hsl), 0.075);
  border: 1px solid hsla(var(--text-color-hsl), 0.125);
  border-bottom: 3px solid hsla(var(--text-color-hsl), 0.125);
  border-radius: 0.25rem;
}

// @see https: //github.com/elk-zone/elk/blob/main/styles/global.css
.skeleton-loading-bg {
  background: linear-gradient(to right,
      hsla(var(--text-color-hsl), 0.2) 25%,
      hsla(var(--text-color-hsl), 0.24) 37%,
      hsla(var(--text-color-hsl), 0.2) 63%);

  background-size: 400% 100%;

  animation: skeleton-loading 1.4s ease infinite;
}

@keyframes skeleton-loading {
  0% {
    background-position: 100% 50%;
  }

  to {
    background-position: 0 50%;
  }
}

.fade-enter-active {
  transition: opacity 0.3s * 2 ease;
}

.fade-enter-active.fast-fade {
  transition-duration: 0.3s;
}

.fade-leave-active {
  display: none;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.fade-enter-active.skeleton {
  transition-delay: 0.25s;
}

.list-enter-active,
.list-leave-active {
  transition: all 0.3s * 2 ease;
}

.list-move {
  transition-duration: 0.3s;
}

.list-enter-from,
.list-leave-to {
  opacity: 0;
}

.list-leave-active {
  display: none;
}

.nuxt-loading-indicator::after {
  --blur-size: 1rem;
  
  content: '';

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  
  background: inherit;
  filter: blur(var(--blur-size));
}