*, *::after, *::before {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --hsl-primary-color: 253;

  --loading-indicator-color: hsl(var(--hsl-primary-color), 65%, 75%);
  --task-list-indicator-color: hsl(var(--hsl-primary-color), 70%, 70%);
  
  --surface-color-hsl: var(--hsl-primary-color), 16%, 95%;
  --text-color-hsl: var(--hsl-primary-color), 5%, 13%;

  --surface-color: hsl(var(--hsl-primary-color), 16%, 95%);
  --text-color: hsl(var(--hsl-primary-color), 5%, 13%);
  
  @media (prefers-color-scheme: dark) {
    --loading-indicator-color: hsl(var(--hsl-primary-color), 35%, 40%);
    --task-list-indicator-color: hsl(var(--hsl-primary-color), 40%, 40%);
    
    --surface-color-hsl: var(--hsl-primary-color), 7%, 11%;
    --text-color-hsl:  var(--hsl-primary-color), 5%, 96%;
    
    --surface-color: hsl(var(--hsl-primary-color), 7%, 11%);
    --text-color:  hsl(var(--hsl-primary-color), 5%, 96%);
  }
}

body {
  font-family: 'Mona Sans', system-ui, sans-serif;
  color: var(--text-color);

  background-color: var(--surface-color);
}

#__nuxt {
  min-height: 100vh;
}

@for $i from 1 to 7 {
  h#{$i} {
    font-weight: 500;
  }
}