.note-editor {
  height: 100%;

  &__wrapper {
    position: relative;
    z-index: 0;

    height: 100%;
  }

  .ProseMirror {
    --base-list-left-padding: 1.25ch;

    font-size: 105%;
    word-break: break-word;
    caret-color: var(--text-color);

    min-height: 100%;

    padding: 17.5vh 1.5rem 25vh;

    outline: none;

    @media (max-width: $breakpoint-tablet) {
      padding: 16.5vh 1rem 45vh;

      &--renderer {
        padding: 0 0 45vh;
      }
    }

    &--renderer {
      padding: 0 0 25vh;
    }

    p,
    pre {
      margin: 0;

      padding: 0.5rem 0;

      &.is-empty::before {
        content: attr(data-placeholder);
        float: left;
        color: hsla(var(--text-color-hsl), 0.25);
        pointer-events: none;
        height: 0;
      }
    }

    ul,
    ol {
      margin: 0;
      padding: 0.4rem 0;
      padding-left: calc(1rem + var(--base-list-left-padding));

      &[data-type="taskList"] {
        padding-left: var(--base-list-left-padding);

        list-style: none;

        p {
          margin: 0;
          padding: 0;
        }

        li {
          display: flex;

          transition: opacity .3s, filter .3s;

          &[data-checked="true"] {
            opacity: 0.625;
            filter: blur(0.75px);

            &:is(:hover, :focus-within) {
              opacity: 0.9;
              filter: none;
            }
          }

          >label {
            flex: 0 0 auto;

            margin-right: 0.5rem;
            user-select: none;

            &.readonly {
              pointer-events: none;
            }

            input {
              cursor: pointer;

              accent-color: var(--task-list-indicator-color);

              transform: scale(1.125);
              transform-origin: center center;
            }
          }

          >div {
            flex: 1 1 auto;
          }
        }

        li+li {
          margin-top: 0.175rem;
        }
      }
    }

    code {
      font-size: 0.9rem;
      color: var(--text-color);

      padding: 0.1rem 0.25rem;

      border-radius: 0.25rem;
      background-color: hsla(var(--text-color-hsl), 0.1);
      box-shadow: 0 0 0.25rem 0 hsla(var(--text-color-hsl), 0.05);
      box-decoration-break: clone;
    }

    li {
      &>p {
        padding: 0.125rem 0;
      }
    }

    em {
      font-variation-settings: "ital" 10;
      font-synthesis: none;
    }

    a {
      color: currentColor;
      cursor: pointer;
    }

    blockquote {
      margin-inline: 0.5rem;
      padding-left: 0.75rem;

      border-left: 2px solid var(--task-list-indicator-color);
      background-color: hsla(var(--text-color-hsl), 0.075);
      box-shadow:
        -0.75rem 0 0.5rem -0.25rem hsla(var(--selection-bg-color-hsl), 0.125),
        0 0 1rem 0 hsla(var(--selection-bg-color-hsl), 0.075);
    }

    h1,
    h2,
    h3 {
      margin: 0;
      padding: 1rem 0 0.5rem;

      &:not(:first-child) {
        padding-top: 1.5rem;
      }
    }

    * {
      transition: all .3s;
    }

    &>*:is(h1, h2, h3):first-child {
      padding-top: 0.5rem;
    }
  }
}

.firefox.phone-or-tablet .ProseMirror label input[type="checkbox"] {
  transform: scale(1.4);
}
