name: Release

on:
  workflow_dispatch:
  # schedule:
  #   - cron: '0 3 * * 1'

permissions:
  contents: write

jobs:
  test-lint-build:
    timeout-minutes: 3
    runs-on: ubuntu-latest

    steps:
      - name: Checkouting repo
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
        with:
          persist-credentials: false
          fetch-depth: 0

      - name: Node setup
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238
        with:
          node-version: 22
          cache: yarn

      - name: Install deps
        run: yarn install --immutable && yarn nuxt prepare

      - name: Run tests
        run: yarn run test

      - name: Run Build
        run: yarn run build

      - name: Run size-limit
        run: yarn run size

      - name: Run lint
        run: yarn run lint --ignore-pattern ".github"

  bump-package-version:
    needs: test-lint-build
    timeout-minutes: 4
    runs-on: ubuntu-latest

    steps:
      - name: Checkouting repo
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
        with:
          persist-credentials: false
          fetch-depth: 0

      - name: Node setup
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238
        with:
          node-version: 22
          cache: yarn

      - name: Bump versions
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git pull

          npx --yes changelogen@latest --release

      - name: Push changes
        env:
          PAT: ${{ secrets.ACTIONS_PAT }}
          BRANCH: ${{ github.ref_name }}
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git remote set-url origin "https://$PAT@github.com/logotip4ik/keycap"
          git push origin $BRANCH

  trigger-release:
    needs: [test-lint-build, bump-package-version]
    timeout-minutes: 1
    runs-on: ubuntu-latest

    steps:
      - name: Trigger deployment
        env:
          AUTH: ${{ secrets.DEPLOYMENT_AUTH }}
          TRIGGER_DEPLOYMENT: ${{ secrets.TRIGGER_DEPLOYMENT }}
        shell: bash
        run: curl -s -H "$AUTH" $TRIGGER_DEPLOYMENT > /dev/null
