name: Tests

on:
  pull_request:
  push:
    branches: [master]

permissions:
  contents: read

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkouting repo
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Node setup
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903
        with:
          node-version: 22
          cache: yarn

      - name: Install deps
        run: yarn --immutable && yarn nuxt prepare

      - name: Run tests
        run: yarn run test

      - name: Build
        run: yarn run build

      - name: Run size test
        run: yarn run size
