name: Tests

on:
  pull_request:
  push:
    branches: [master]

permissions:
  contents: read

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkouting repo
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Node setup
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238
        with:
          node-version: 22
          cache: yarn

      - name: Install deps
        run: yarn --immutable && yarn nuxt prepare

      - name: Run tests
        run: yarn run test

      - name: Build
        run: yarn run build

      - name: Run size test
        run: yarn run size
