name: Tests

on:
  pull_request:
  push:
    branches: [master]

permissions:
  contents: read

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkouting repo
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Node setup
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f
        with:
          node-version: 22
          cache: yarn

      - name: Install deps
        run: yarn --immutable && yarn nuxt prepare

      - name: Run tests
        run: yarn run test

      - name: Build
        run: yarn run build

      - name: Run size test
        run: yarn run size
