name: Auto update dependencies

permissions:
  contents: write

on:
  workflow_dispatch:
  schedule:
    - cron: '0 23 * * 5'

env:
  # allow yarn creating lockfile in CI environment
  YARN_ENABLE_IMMUTABLE_INSTALLS: false

jobs:
  auto-update-dependencies:
    timeout-minutes: 4
    runs-on: ubuntu-latest

    steps:
      - name: Checkouting repo
        uses: actions/checkout@0ad4b8fadaa221de15dcec353f45205ec38ea70b
        with:
          fetch-depth: 0

      - name: Node setup
        uses: actions/setup-node@60edb5dd545a775178f52524783378180af0d1f8
        with:
          node-version: 20
          cache: yarn

      - name: Update package versions
        run: npx taze@latest -x '@types/node' -swf latest

      - name: Update resolution versions
        run: node ./scripts/update-resolution.cjs
        shell: bash

      - name: Update lock file
        run: |
          rm ./yarn.lock
          yarn

      - name: Test if project still builds
        run: yarn build

      - name: Commit and push changes
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git commit -am "chore: update deps" || echo "nothing changed ?"
          git remote set-url origin https://${{ secrets.ACTIONS_PAT }}@github.com/logotip4ik/keycap
          git push origin ${{ github.ref_name }}
