name: Auto update dependencies

permissions:
  contents: write

on:
  workflow_dispatch:
  schedule:
    - cron: '0 2 * * 3,6'

env:
  # allow yarn creating lockfile in CI environment
  YARN_ENABLE_IMMUTABLE_INSTALLS: false

jobs:
  auto-update-dependencies:
    timeout-minutes: 4
    runs-on: ubuntu-latest

    steps:
      - name: Checkouting repo
        uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744
        with:
          fetch-depth: 0

      - name: Node setup
        uses: actions/setup-node@5e21ff4d9bc1a8cf6de233a3057d20ec6b3fb69d
        with:
          node-version: 18
          cache: yarn

      - name: Update package versions
        run: npx taze@latest latest -x '@types/node' -swf

      - name: Update resolution versions
        run: node ./scripts/update-resolution.cjs
        shell: bash

      - name: Update lock file
        run: |
          rm ./yarn.lock
          yarn

      - name: Test if project still builds
        run: yarn build

      - name: Setup git user
        uses: fregante/setup-git-user@77c1b5542f14ab6db4b8462d6857e31deb988b09
        
      - name: Commit and push changes
        run: |
          git commit -am "chore: update deps"
          git push
